<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cust Page</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id01</td>
          <td>Kim</td>
          <td>213124</td>
        </tr>
        <tr>
          <td>id02</td>
          <td>Kim2</td>
          <td>2344232</td>
        </tr>
        <tr>
          <td>id03</td>
          <td>Kim3</td>
          <td>4524532</td>
        </tr>
      </tbody>
    </table>
</body>
</html>