<style>
  .item_img {
    width: 80px;
    height: auto;
  }

  .item_img:hover{
    width: 79;
    height: auto;
    border: 4px solid skyblue;
  }
</style>

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <h2>Item Page</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Img</th>
                <th>id</th>
                <th>item</th>
                <th>price</th>
                <th>RegDate</th>
              </tr> 
            </thead>
            <tbody>
              {% for data in datas %}
              <tr>
                <td><img class="item_img" src="img/{{data.imgname}}"></td>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.price}}</td>
                <td>{{data.regdate}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</div>